---
layout: "base.njk"
title: "404"
description: "Page not found"
robots: "false"
permalink: 404.html
eleventyExcludeFromCollections: true
script: "/assets/js/bundle.js"
---

<section
  class="container mx-auto space-y-8 py-16 h-screen text-center text-content"
>
  <div>
    <h1 class="my-8 text-9xl font-bold">404</h1>
  </div>
  <div>
    <h1 class="my-8 text-4xl font-bold">Page not found</h1>
  </div>
  <div>
    <a href="/">Back to Home</a>
  </div>
</section>
