---
layout: "base.njk"
pagination:
  data: collections.categoryPages
  size: 1
  alias: categoryPage
permalink: "/category/{{ categoryPage.name | slugify }}/{% if categoryPage.page > 1 %}{{ categoryPage.page }}/{% endif %}"
eleventyComputed:
  title: "Posts in category: {{ categoryPage.name }}{% if categoryPage.page > 1 %} - Page {{ categoryPage.page }}{% endif %}"
  description: "Posts in category: {{ categoryPage.name }}{% if categoryPage.page > 1 %} (Page {{ categoryPage.page }}){% endif %}"
---

<section class="text-content body-font">
  <div class="my-10 text-center">
    <h1 class="sm:text-4xl text-3xl font-medium title-font mb-4 text-header">
      Posts in category: {{ categoryPage.name }}{% if categoryPage.page > 1 %} -
      Page {{ categoryPage.page }}{% endif %}
    </h1>
  </div>
  {%- include 'partials/category-nav.njk' -%} {%- from 'macros/presets/' +
  config.layout + '.njk' import postlistMacro with context -%}
  {{ postlistMacro(categoryPage, "category") }}
</section>
