---
layout: "base.njk"
pagination:
  data: collections.categoryPages
  size: 1
  alias: categoryPage
permalink: "/category/{{ categoryPage.name | slugify }}/{% if categoryPage.page > 1 %}{{ categoryPage.page }}/{% endif %}"
eleventyComputed:
  title: "Posts in category: {{ categoryPage.name }}{% if categoryPage.page > 1 %} - Page {{ categoryPage.page }}{% endif %}"
  description: "Posts in category: {{ categoryPage.name }}{% if categoryPage.page > 1 %} (Page {{ categoryPage.page }}){% endif %}"
---

{% import "macros/pages.njk" as pages %}
{{ pages.renderCategoryPage(categoryPage) }}

