---
permalink: /rss.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ config.site.url | addPathPrefixToFullUrl }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ config.site.name }}</title>
    <link>{{ config.site.url | addPathPrefixToFullUrl }}</link>
    <atom:link href="{{ permalink | htmlBaseUrl(config.site.url) }}" rel="self" type="application/rss+xml" />
    <description>The latest posts from {{ config.site.name }}, delivered via RSS</description>
    <language>en</language>
    <image>
        <title>{{ config.site.name }}</title>
        <url>{{ config.site.url }}{{ config.homepage.metadata.img }}</url>
        <link>{{ config.site.url | addPathPrefixToFullUrl }}</link>
    </image>
    {%- set posts = collections.posts | slice(0, 10) -%}
    {%- for post in posts %}
    {%- set absolutePostUrl = post.url | htmlBaseUrl(config.site.url) %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ absolutePostUrl }}</link>
      <description>{{ post.content | renderTransforms(post.data.page, config.site.url) }}</description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <guid>{{ absolutePostUrl }}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>