---
layout: "base.njk"
pagination:
  data: collections.tagPages
  size: 1
  alias: tagPage
permalink: "/tags/{{ tagPage.name | slugify }}/{% if tagPage.page > 1 %}{{ tagPage.page }}/{% endif %}"
eleventyComputed:
  title: "Posts tagged: {{ tagPage.name }}{% if tagPage.page > 1 %} - Page {{ tagPage.page }}{% endif %}"
  description: "Posts tagged with {{ tagPage.name }}{% if tagPage.page > 1 %} (Page {{ tagPage.page }}){% endif %}"
---

{% import "macros/pages.njk" as pages %}
{{ pages.renderTagPage(tagPage) }}