---
layout: "base.njk"
---

<main class="min-h-screen py-10">
  <!-- Content Section -->
  <article
    class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 prose prose-lg prose-headings:text-gray-700 prose-p:text-500 prose-a:text-primary-500 prose-a:hover:text-primary-500/50"
  >
    {{ content | safe }}
  </article>
</main>
