/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fonts/Inter.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("/assets/fonts/Manrope.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@import "tailwindcss";
@import "../../../custom.css";
@import "../../../node_modules/prismjs/themes/prism-tomorrow.min.css";
@plugin "@tailwindcss/typography";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --color-primary: var(--color-primary);
  --color-background: var(--color-background);
  --color-content: var(--color-content);
  --color-accent: var(--color-accent);
  --color-footer: var(--color-footer);

  /* primary color variables */
  --color-primary-50: color-mix(in srgb, var(--color-primary) 5%, white);
  --color-primary-100: color-mix(in srgb, var(--color-primary) 10%, white);
  --color-primary-200: color-mix(in srgb, var(--color-primary) 20%, white);
  --color-primary-300: color-mix(in srgb, var(--color-primary) 30%, white);
  --color-primary-400: color-mix(in srgb, var(--color-primary) 40%, white);
  --color-primary-500: var(--color-primary);
  --color-primary-600: color-mix(in srgb, var(--color-primary) 80%, black);
  --color-primary-700: color-mix(in srgb, var(--color-primary) 70%, black);
  --color-primary-800: color-mix(in srgb, var(--color-primary) 60%, black);
  --color-primary-900: color-mix(in srgb, var(--color-primary) 40%, black);
  --color-primary-950: color-mix(in srgb, var(--color-primary) 20%, black);
}

html {
  font-family: var(--font-manrope);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-manrope);
}
