---
layout: "base.njk"
pagination:
  data: collections.tagPages
  size: 1
  alias: tagPage
permalink: "/tags/{{ tagPage.name | slugify }}/{% if tagPage.page > 1 %}{{ tagPage.page }}/{% endif %}"
eleventyComputed:
  title: "Posts tagged: {{ tagPage.name }}{% if tagPage.page > 1 %} - Page {{ tagPage.page }}{% endif %}"
  metadata:
    title: "Posts tagged: {{ tagPage.name }}{% if tagPage.page > 1 %} - Page {{ tagPage.page }}{% endif %}"
    description: "Posts tagged with {{ tagPage.name }}{% if tagPage.page > 1 %} (Page {{ tagPage.page }}){% endif %}"
---

<section class="text-gray-700 body-font">
  <div class="my-10 text-center">
    <h1 class="sm:text-4xl text-3xl font-medium title-font mb-4 text-header">
      Posts tagged: {{ tagPage.name }}{% if tagPage.page > 1 %} - Page
      {{ tagPage.page }}{% endif %}
    </h1>
  </div>
  {%- from 'macros/postlist.njk' import postlistMacro with context -%}
  {{ postlistMacro(tagPage, "tags") }}
</section>
