---
permalink: /api/posts.json
---
[
{%- for post in collections.meta.posts %}
  {
    "title": {{ post.data.title | dump | safe }},    
    "slug": "{{ post.fileSlug }}",
    "url": "{{ post.url }}",
    "date": "{{ post.date | date('YYYY-MM-DD') }}",
    "category": {{ post.data.category | dump | safe }},
    "tags": {{ post.data.tags | dump | safe }},
    "isDraft": {{ "true" if post.data.isDraft else "false" }}
  }{% if not loop.last %},{% endif %}
{%- endfor %}
]