<!-- Index page regular posts -->
{% macro indexPostlistMacro(postsPage) %}

<div class="w-full lg:w-1/2 px-5 py-5 mx-auto">
  <div class="flex flex-col">
    {% for post in postsPage.items %}
    <a
      class="block py-6 border-b border-gray-200 group focus:outline-none"
      href="{{ post.url }}"
    >
      <h2
        class="sm:text-2xl text-xl font-semibold group-hover:text-primary-500"
      >
        {{ post.data.heading }}
      </h2>

      {% if config.listings.postPreview.showExcerptInListing %}
      <p class="mt-2">{{ post.templateContent | excerpt }}</p>
      {% endif %} {% if config.listings.postPreview.showDateInListing or
      config.listings.postPreview.showAuthorInListing %}
      <p class="mt-2 leading-relaxed text-accent text-sm">
        {% if config.listings.postPreview.showAuthorInListing %}By
        {{ post.data.author }}{% endif %} {% if
        config.listings.postPreview.showAuthorInListing and
        config.listings.postPreview.showDateInListing %} | {% endif %} {% if
        config.listings.postPreview.showDateInListing %}{{
          post.data.date | postDate
        }}{% endif %}
      </p>
      {% endif %} {% if config.listings.postPreview.showCategoryInListing %}
      <div class="mt-2">
        <span
          class="px-3 py-1 text-sm rounded-xl bg-primary-100 text-primary-500 font-medium"
          >{{ post.data.category }}</span
        >
      </div>
      {% endif %}
    </a>
    {% endfor %}
  </div>

  {% if postsPage.total > postsPage.postsPerPage %}
  <div class="flex justify-center my-8">
    <a
      href="/posts/{{ postsPage.page + 1 }}"
      class="inline-block bg-primary-500 text-white px-4 py-2 rounded-xl hover:bg-primary-800 transition-colors"
      >View Older Posts</a
    >
  </div>
  {% endif %}
</div>
{% endmacro %} {% macro postlistMacro(posts, type) %}
<div class="w-full lg:w-1/2 px-5 py-5 mx-auto">
  <div class="flex flex-col">
    {% for post in posts.items %}
    <a
      class="block py-6 border-b border-gray-200 group focus:outline-none"
      href="{{ post.url }}"
    >
      <h2
        class="sm:text-2xl text-xl font-semibold group-hover:text-primary-500"
      >
        {{ post.data.heading }}
      </h2>

      {% if config.listings.postPreview.showExcerptInListing %}
      <p class="mt-2">{{ post.templateContent | excerpt }}</p>
      {% endif %} {% if config.listings.postPreview.showDateInListing or
      config.listings.postPreview.showAuthorInListing %}
      <p class="mt-2 leading-relaxed text-accent text-sm">
        {% if config.listings.postPreview.showAuthorInListing %}By
        {{ post.data.author }}{% endif %} {% if
        config.listings.postPreview.showAuthorInListing and
        config.listings.postPreview.showDateInListing %} | {% endif %} {% if
        config.listings.postPreview.showDateInListing %}{{
          post.data.date | postDate
        }}{% endif %}
      </p>
      {% endif %} {% if config.listings.postPreview.showCategoryInListing %}
      <div class="mt-2">
        <span
          class="px-3 py-1 text-sm rounded-xl bg-primary-100 text-primary-500 font-medium"
          >{{ post.data.category }}</span
        >
      </div>
      {% endif %}
    </a>
    {% endfor %}
  </div>

  {% if posts.total > config.listings.pagination.postsPerPage %}
  <div class="flex justify-between items-center gap-4 my-8">
    {% set totalPages = (posts.total / config.listings.pagination.postsPerPage)
    | round(0, "ceil") %} {% if posts.page > 1 %}
    <div class="text-left">
      <a
        href="{% if type == 'posts' and posts.page <= 2 %}/{% else %}/{{
          type
        }}{% if type != 'posts' %}/{{
          posts.name | slugify
        }}{% endif %}/{% if posts.page > 2 %}{{
          posts.page - 1
        }}/{% endif %}{% endif %}"
        class="px-3 py-3 text-sm bg-primary-500 text-white rounded-xl font-medium hover:bg-primary-500 transition-colors"
        >← Previous</a
      >
    </div>
    {% else %}
    <div></div>
    {% endif %} {% if posts.page < totalPages %}
    <div class="text-right">
      <a
        href="/{{ type }}{% if type != 'posts' %}/{{
          posts.name | slugify
        }}{% endif %}/{{ posts.page + 1 }}/"
        class="px-3 py-3 text-sm bg-primary-500 text-white rounded-xl font-medium hover:bg-primary-500 transition-colors"
        >Next →</a
      >
    </div>
    {% else %}
    <div></div>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endmacro %}
