{% if collections.categoryList.length > 0 %}
<div class="max-w-[42rem] mx-auto px-5 mb-10 overflow-x-auto">
  <div class="flex items-center gap-4 text-sm min-w-max">
    <a
      href="/"
      class="{% if page.url == '/' or page.url.includes('/posts/') %}text-content font-medium{% else %}text-accent hover:text-content{% endif %}"
    >All</a>

    {% for category in collections.categoryList %}
    <a
      href="/category/{{ category | slug }}/"
      class="{% if page.url == '/category/' + (category | slug) + '/' %}text-content font-medium{% else %}text-accent hover:text-content{% endif %}"
    >{{ category }}</a>
    {% endfor %}
  </div>
</div>
{% endif %}
