---
layout: "layouts/base"
title: "WebNami vs Squarespace — A Free, Open-Source Blogging Alternative"
permalink: "/alternatives/squarespace-alternative/"
---
{% set alt = pages.alternatives.squarespace %}
{%- include 'partials/alternative.njk' -%}
