---
layout: "base.njk"
---

<main class="min-h-screen py-12">
  <article
    class="max-w-2xl mx-auto px-5 sm:px-6 prose prose-sm prose-invert prose-strong:text-content prose-ol:text-content prose-li:text-content prose-ul:text-content prose-headings:text-content prose-headings:font-mono prose-p:text-content prose-a:text-primary-500 prose-a:no-underline hover:prose-a:underline"
  >
    <h1
      class="font-mono text-2xl sm:text-3xl font-bold text-content leading-tight mb-4"
    >
      {{ title }}
    </h1>
    {{ content | safe }}
  </article>
</main>
