{% if collections.categoryList.length > 0 %}
<div class="overflow-x-auto mb-12">
  <div
    class="flex space-x-4 w-full md:w-4/5 px-5 min-w-max mx-auto justify-center"
  >
    <!-- All Tab -->
    <a
      href="/"
      class="text-sm flex-shrink-0 px-6 py-2 rounded-xl font-medium whitespace-nowrap {% if page.url == '/' or page.url.includes('/posts/') %} text-white bg-primary-500 {% else %} text-primary-500 bg-primary-100 hover:bg-primary-200 {% endif %}"
    >
      All
    </a>

    <!-- Category Tabs -->
    {% for category in collections.categoryList %}
    <a
      href="/category/{{ category | slug }}/"
      class="text-sm flex-shrink-0 px-6 py-2 rounded-xl font-medium whitespace-nowrap {% if page.url == '/category/' + (category | slug) + '/' %} text-white bg-primary-500 {% else %} text-primary-500 bg-primary-100 hover:bg-primary-200 {% endif %}"
    >
      {{ category }}
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}
