<nav class="">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div
      class="block md:flex md:flex-row md:justify-between md:items-center py-4 md:py-0 md:h-16"
    >
      <div class="flex justify-center md:justify-start mb-4 md:mb-0">
        {% if config.branding.logo.src %}
        <a href="/" class="flex items-center">
          <img
            class="h-8 sm:h-12 w-auto"
            src="{{ config.branding.logo.src }}"
            alt="{{ config.branding.logo.alt }}"
          />
        </a>
        {% endif %}
        <a href="/" class="flex items-center">
          <span class="ml-2 text-xl font-bold">
            {{ config.site.name }}
          </span>
        </a>
      </div>

      <nav>
        <ul
          class="flex flex-row justify-center items-center md:space-y-0 md:space-x-4 list-none"
        >
          {% for link in config.navbar.links %}
          <li>
            {% if not link.cta %}
            <a
              href="{{ link.href }}"
              class="text-gray-700 hover:text-primary-500 px-3 py-2 text-sm font-light transition-colors duration-200"
            >
              {{ link.name }}
            </a>
            {% else %}
            <a
              href="{{ link.href }}"
              class="bg-primary-500 hover:bg-primary-500/50 text-white text-sm font-medium py-2 px-4 rounded-xl transition-colors"
              role="button"
            >
              {{ link.name }}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</nav>
