{%- from 'macros/presetFuncs.njk' import navWidthClass with context -%}
<nav class="">
  <div class="{{ navWidthClass() }} mx-auto px-4 sm:px-6 lg:px-8">
    <div
      class="block md:flex md:flex-row md:justify-between md:items-center py-4 md:py-0 md:h-16"
    >
      <div class="flex justify-center md:justify-start mb-4 md:mb-0">
        {% if config.site.logo %}
        <a href="/" class="flex items-center">
          <img
            class="h-8 sm:h-12 w-auto"
            src="{{ config.site.logo }}"
            alt="{{ config.site.name }}"
          />
        </a>
        {% endif %}
        <a href="/" class="flex items-center">
          <span class="ml-2 text-content text-xl font-bold">
            {{ config.site.name }}
          </span>
        </a>
      </div>

      <nav>
        <ul
          class="flex flex-row justify-center items-center md:space-y-0 md:space-x-4 list-none"
        >
          <li x-data>
            <!-- Sun icon for light mode (shows when theme is dark) -->
            <button
              @click="$store.theme.lightTheme()"
              class="p-2 rounded-lg text-content hover:text-primary-500 transition-colors duration-200"
              aria-label="Toggle dark mode"
              x-show="$store.theme.dark"
            >
              {% icon "sun", "w-5 h-5"| safe %}
            </button>

            <!-- Moon icon for dark mode (shows when theme is light) -->
            <button
              @click="$store.theme.darkTheme()"
              class="p-2 rounded-lg text-content hover:text-primary-500 transition-colors duration-200"
              aria-label="Toggle dark mode"
              x-show="!$store.theme.dark"
            >
              {% icon "moon", "w-5 h-5" | safe %}
            </button>
          </li>
          {% for link in config.navbar.links %}
          <li>
            {% if not link.cta %}
            <a
              href="{{ link.href }}"
              class="text-content hover:text-primary-500 px-3 py-2 text-sm font-light transition-colors duration-200"
            >
              {{ link.name }}
            </a>
            {% else %}
            <a
              href="{{ link.href }}"
              class="bg-primary-500 hover:bg-primary-500/50 text-white text-sm font-medium py-2 px-4 rounded-xl transition-colors"
              role="button"
            >
              {{ link.name }}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</nav>
